
@model JoseGutierrezMYPER.Models.Trabajador


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <h3>Agregar Producto</h3>
            <br />
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Guardar">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="TipoDocumento" class="control-label"></label>
                            <br />
                            <select  class="form-control" asp-for="TipoDocumento" asp-items="@((SelectList)ViewBag.TipoDocumentos)">
                            </select>
                            <span asp-validation-for="TipoDocumento" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NumeroDocumento" class="control-label"></label>
                            <input asp-for="NumeroDocumento" class="form-control" />
                            <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Nombres" class="control-label"></label>
                            <input asp-for="Nombres" class="form-control" />
                            <span asp-validation-for="Nombres" class="text-danger"></span>
                        </div>
                        <div class="form-group ">
                            <label asp-for="Sexo" class="control-label"></label>
                            <br />
                            <div >
                                @Html.RadioButtonFor(model => model.Sexo, "M") Masculino<br />
                               
                            </div>
                            <div >
                                @Html.RadioButtonFor(model => model.Sexo, "F") Femenino<br />
                            </div>
                            <span asp-validation-for="Sexo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Departamento" class="control-label"></label>
                            <br />
                            @*@Html.DropDownList("TiposProductosList", (SelectList)ViewBag.TipoProducto)*@
                            <select id="departamentosList" class="form-control" asp-for="DepartamentoId" asp-items="@((SelectList)ViewBag.Departamentos)">
                            </select>
                            <span asp-validation-for="DepartamentoId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Provincia" class="control-label"></label>
                            <br />
                            @*@Html.DropDownList("TiposProductosList", (SelectList)ViewBag.TipoProducto)*@
                            <select id="provinciasList" class="form-control" asp-for="ProvinciaId" asp-items="@((SelectList)ViewBag.Provincias)">
                            </select>
                            <span asp-validation-for="ProvinciaId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Distrito" class="control-label"></label>
                            <br />
                            @*@Html.DropDownList("TiposProductosList", (SelectList)ViewBag.TipoProducto)*@
                            <select id="distritosList" class="form-control" asp-for="DistritoId" asp-items="@((SelectList)ViewBag.Distritos)">
                            </select>
                            <span asp-validation-for="DistritoId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>






